<div class="bg-dark text-white vh-100 p-3" style="width: 220px;">
  <h5 class="mb-4">LITIGANDO</h5>
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link text-white" routerLink="/inicio">Inicio</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/usuarios">Usuarios</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/evaluations">Evaluaciones</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/formularios">Formularios</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/respuestas">Respuestas</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/configuracion">Configuración</a></li>
  </ul>
</div>
